/* от ноля */
@media only screen and (max-width: 639px) {

	header h1 {
		font-size: 24px !important;
		margin: 50px 0 !important;
	}
	header .pamy {
		float: none !important;
		background: url(../img/logo-pamy.png) top center no-repeat !important;
    	padding-top: 100px;
		padding-left: 0 !important;
	}
	.clients .in-clients {
		min-height: 290px !important;
	}
	.slider .logo-slider {
		background: none !important;
		width: auto !important;
		height: auto !important;
	}
	.slider .title {
		width: auto !important;
	}
	.polyhedron ul li {
    width: 50% !important;
    text-align: center;
	}
}
@media only screen and (max-width: 991px) {
	.slider .title-small {
		padding-left: 0 !important;
		text-align: center !important;
	}
	.slider .item.item-l,
	.slider .item.item-r{
		float: none !important;
		margin: 0 auto 30px !important;
	}
	.apple .in-apple .item {
		position: static !important;
		background: rgba(255,255,255,.7);
	}
	.reviews .content-slider li .wrap-rev {
		width: 70% !important;
	}
	.reviews .content-slider li .wrap-rev .dolz {
		padding-left: 0 !important;
	}
}

/* диапазон мах/min разрешения */
@media (min-width: 640px) and (max-width: 991px) {
	header {
		min-height: auto !important;
	}
	header h1 {
		margin: 80px 0 !important;
	}
	.clients .in-clients {
		min-height: 350px !important;
	}
	.polyhedron ul li {
		width: 25% !important;
		text-align: center;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.apple .item.item-top-l {
    top: 106px !important;
    left: 23px !important;
	}
	.apple .item.item-bot-l {
    top: 335px !important;
    left: 25px !important;
	}
	.apple .item.item-top-r {
    top: 75px !important;
	  right: 60px !important;
	}
	.apple .item.item-bot-r {
    top: 303px !important;
    right: 96px !important;
	}
	.slider .big-img img {
		margin-top: 100px !important;
	}
}